@import "vars";
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: transparent;
    width: 10px;
    &:hover{
        background: #fff;
    }
}
::-webkit-scrollbar-thumb{
    background: #f2f2f2;
    border: 1px solid #9b9b9ef6;
    border-radius: 1px;
    cursor: pointer;
    width: 10px;
    &:hover{
        background: #8d8b8b88;
    }
}
/* Reset */
*{
    border: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    transition: .1s ease-in-out;
    -moz-border-sizing: border-box;
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
}
html{
    height: 100vh;
    max-width: 100vw;
}
body{
    background: #fff;
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
input{
    outline: none;
}
button{
    cursor: pointer;
}
ul, li {
    list-style: none;
}

/* Classes Gerais */
.clear{
    clear: both;
}
.text-margin{
    margin: 0 30px;
}
.radius{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.title-folder{
    background-image: linear-gradient(to right, $yellow, $red);
    -moz-background-image: linear-gradient(to right, $yellow, transparent);
    -webkit-background-image: linear-gradient(to right, $yellow, transparent);
    margin: 50px 10%;
}
/* Planos de Fundo */
.bgcolor-red{
    background: $red;
}
.bgcolor-red-dark{
    background: $dark;
}
.bgcolor-blue{
    background: $blue;
}
.bgcolor-blue-dark{
    background: $blue-dark;
}
.bgcolor-green{
    background: $green;
}
.bgcolor-green-dark{
    background: $green-dark;
}
.bgcolor-gray{
    background: $gray;
}

.bgcolor-orange{
    background: $orange;
}
.bgcolor-white{
    background: $white;
}
.bgcolor-white-dark{
    background: $white-dark;
}
.bgcolor-white-light{
    background: $white-light;
}
.bgcolor-yellow{
    background: $yellow;
}
.bgcolor-dark{
    background: $dark;
}
/* Cores das Fontes */
.color-red{
    color: $red;
}
.color-red-dark{
    color: $red-dark;
}
.color-blue{
    color: $blue;
}
.color-blue-dark{
    color: $blue-dark;
}
.color-green{
    color: $green;
}
.color-green-dark{
    color: $green-dark;
}
.color-gray{
    color: $gray;
}
.color-orange{
    color: $orange;
}
.color-white{
    color: $white;
}
.color-white-dark{
    color: $white-dark;
}
.color-yellow{
    color: $yellow;
}
.color-dark{
    color: $dark;
}


/* Tamanho da Fonte */
.font-text-sub{
    font-size: 0.7rem;
}
.font-text-min{
    font-size: 1rem;
}
.font-text-medium{
    font-size: 1.2rem;
}
.font-text-extra{
    font-size: 1.5rem;
}
.font-text-max{
    font-size: 2rem;
}
@media(max-width: 1000px){
    .font-text-max{
        font-size: 1.8rem;
    }
    .font-text-extra{
        font-size: 1.2rem;
    }
    .font-text-medium{
        font-size: 1rem;
    }
    .font-text-min{
        font-size: 0.8rem;
    }
}
@media(max-width: 600px){
    .font-text-sub{
        font-size: 0.7rem;
    }
    .font-text-min{
        font-size: 0.9rem;
    }
    .font-text-medium{
        font-size: 1rem;
    }
    .font-text-extra{
        font-size: 1.2rem;
    }
    .font-text-max{
        font-size: 1.6rem;
    }
}
/* Estilo da Fonte */
.font-weight-min{
    font-weight: 300;
}
.font-weight-medium{
    font-weight: 600;
}
.font-weight-max{
    font-weight: 900;
}
/* Alinhamentos de Texto */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
@media(max-width: 600px){
    .text-center{
        text-align: center;
    }
    .text-left{
        text-align: center;
    }
    .text-right{
        text-align: center;
    }
    .text-justify{
        text-align: center;
    }
}
/* Botões e Cores */
.btn_edit{
    background: $green;
    color: $white;
    padding: 1% 2%;
}
.btn_new{
    background: $blue;
    color: $white;
    padding: 1% 2%;
}
.btn_delete{
    background: $red;
    color: $white;
    padding: 1% 2%;
}
.btn_search{
    background: $orange;
    color: $white;
    padding: 1% 2%;
}
.btn_off{
    background: $gray;
    color: $white;
    padding: 1% 2%;
}
.btn_pager{
    background: $dark;
    color: $white;
    padding: 1% 2%;
}
.btn_edit:hover{
    background: $green-dark;
}
.btn_new:hover{
    background: $dark;
}
.btn_delete:hover{
    background: $dark;
}
.btn_search:hover{
    background: $dark;
}
.btn_off:hover{
    background: $dark;
}
.btn_pager:hover{
    background: $green;
}
/* Flutuação dos Elementos */
.divisor1{
    height: auto;
    margin: 0;
    width: 100%;
}
.divisor2{
    float: left;
    height: auto;
    margin: 10px 0 10px 1.1%;
    width: 48.4%;
}
.divisor3{
    float: left;
    height: auto;
    margin: 10px 0 10px 1.1%;
    width: 31.9%; 
}
.divisor4{
    float: left;
    height: auto;
    margin: 10px 0 10px 1.1%;
    width: 23.8%;
}
@media(max-width:30rem){
    .divisor2,
    .divisor3,
    .divisor4{
        margin: 10px 2%;
        width: 96%;
    }
}
@media(max-width: 48rem){
    .divisor4{
        margin: 10px 0 10px 1.1%;
        width: 48.4%;
    }
}
@media(max-width: 64rem){
    .divisor4{
        margin: 10px 0 10px 1.1%;
        width: 48.4%;
    }
}
/* @media(max-width: 80rem){
    .divisor4{
        margin: 10px 2%;
        width: 21%;
    }
} */
/* Mensagens Dinâmicas */
.alert-error{
    background: $red;
    color: $white;
    padding: 10px 20px;
    text-align: center;
}
.alert-success{
    background: $green;
    color: $white;
    padding: 10px 20px;
    text-align: center;
}
.alert-info{
    background: $blue;
    color: $white;
    padding: 10px 20px;
    text-align: center;
}
.alert-warning{
    background: $orange;
    color: $white;
    padding: 10px 20px;
    text-align: center;
}
.status-error{
    background: $red;
}
.status-success{
    background: $green;
}
.status-info{
    background: $blue;
}
.status-warning{
    background: $orange;
}
.status_container{
    box-sizing: border-box;
    pointer-events: none;
    position: fixed;
    z-index: 900;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.status_title{
    font-weight: 600;
}
.status_message{
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
.status_message a, 
.status_message label{
    color: #fff;
}
.status_message a:hover{
    color: #ccc;
    text-decoration: none;
}
.status-close-button{
    color: $white;
    float: right;
    filter:alpha(opacity=70);
    font-size: 20px;
    line-height: 1;
    opacity: 8;
    position: relative;
    right: 3rem;
    text-shadow: 0 1px 0 #fff;
    top: 3rem;
    -moz-text-shadow: 0 1px 0 #fff;
    // -ms-Filter:progid: DXImageTransform.Microsoft.Alpha(Opacit=70);
    -webkit-text-shadow: 0 1px 0 #fff;
}
.rtl .status-close-button{
    float: left;
    left: 3rem;
    right: 3rem;
}
button.status-close-button{
    border: 0;
    cursor: pointer;
    padding: 0;
    -webkit-appearance: none;
}
.status-top-right{
    right: 12px;
    top: 12px;
}
#status_container>div{
    background-position: 15px center;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: white;
    filter:alpha(opacity=70);
    margin: 0 6px;
    opacity: 1;
    overflow: hidden;
    padding: 15px;
    position: relative;
    pointer-events: auto;
    width: 350px;
    -moz-border-radius: 3px;
    // -ms-Filter:progid: DXImageTransform.Microsoft.Alpha(Opacit=70);
    -webkit-border-radius: 3px;
}
/* Modais */
.modal{
    background: rgba(142, 142, 142, 0.8);
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}
.modal .modal_container{
    background: $white;
    display: flex;
    margin: auto 20%;
    max-width: 96%;
    overflow: hidden;
    position: relative;
    width: 60%;
}
.open_modal{
    align-items: center;
    background: rgba(142, 142, 142, 0.8);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}
.open_modal .open_container{
    background: $white;
    margin: 78% 20%;
    max-width: 96%;
    overflow: hidden;
    position: relative;
    width: 60%;
}
@media(max-width: 720px){
    .open_modal .open_container{
        background: $white;
        margin: 0 5%;
        top: 60px;
    }
}
/* Páginação */
.paginator{
    margin: 10px;
    padding: 10px 20px !important;
    width: 100%;
}
.paginator .pagination_link{
    color: #333;
    padding: 10px 20px;
}
.paginator .pagination_link:hover{
    background: #2e9b50;
    color: $white;
}
.paginator .pagination{
    background: #1c6333;
    color: $white;
}
/* Carregamento de Página */
.loading{
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
}
.loading img{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 240px;
}


