

//  Padrões de Cores 
$red: #de0c11;
$red-dark: #f70e13;

$blue: #235580;
$blue-dark: #09316f;

$green: #00ff08;
$green-dark: #247c40;

$white: #fff;
$white-light: #f2f2f2;
$white-dark: #eee;

$orange: #ff5e10;
$orange-dark: #cc4b0c;

$gray: #b0acac;
$gray-dark: #8c8989;

$yellow: #fafa61;

$dark: #555;
