*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100%;
    position: relative;
    width: 100%;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
.exposed{
    border: 1px solid black;
    display: grid;
    grid-template-areas: 
    "product_img product_title product_title"
    "product_img  discount_off discount_off"
    "product_description product_description product_description"
    "prices btn_actions btn_actions"
    ;
    grid-template-columns: repeat(3, 1fr);
    left: 50%;
    padding: 1%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.product_img{
    border: 1px solid black;

    grid-area: product_img;
    padding: 2% 5%;
    width: 100%;
}
.product_title{
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: product_title;
    padding: 2% 5%;

}
.product_description{
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: product_description;
    padding: 2% 5%;
}
.discount_off{
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: discount_off;
    padding: 2% 5%;

}
.prices{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: prices;
    padding: 2% 5%;

}
.btn_actions{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: btn_actions;
    padding: 2% 5%;
}
.btn_actions a{
    border: 1px solid black;
    margin: 0 5%;
    padding: 2% 5%;
}