@import "LibScss/index";



/*header*/
.header_bg{
    height: auto;
    width: 100%;
    .header_top{
        align-items: center;
        display: flex;
        font-size: 1rem;
        justify-content: space-evenly;
        width: 100%;
        .truck{
            padding: 5px 0;
        }
        
    }
    .header_main{
        align-items: center;
        background: $white;
        display: flex;
        font-size: 0.8rem;
        gap: 20px;
        margin: 0 auto;
        padding-top: 50px;
        width: 80%;
        .logo{
            margin: 10px;
            width: 200px
        }
        .frm_search{
            
            display: flex;
            gap: 10px;
            width: 80%;
            .input_search{
                background: $white-light;
                float: right;
                margin: 0;
                padding: 10px 20px;
                width: 90%;
            }
            .btn_form{
                display: block;
                width: 10%;
            }
        }
        .socials{
            background: $white;
            display: flex;
            justify-content: center;
            margin: 20px 10px;
            a{
                background: $gray;
                color: $white;
                margin: 0 5px;
                padding: 10px;
                i{
                    padding: 1px 0;
                }
            }
        }
        .contact_mail{
            
            padding: 0 30px;
            width: auto;
        }

    }
    .header_footer{
        
        background: $white;
        font-size: 0.8rem;
        margin: 0 0 30px 0;
        width: 100%;
        
        ul{
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0 10%;
            padding: 5px 10px;
            width: 80%;
            a{
                color: $gray;
                padding: 5px 10px;
                &:hover{
                    background: #b0acac;
                    color: $white;
                    transform: scale(1.09);
                }
                li{
                    display: inline-block;
                    span{
                        background: $gray-dark;
                        border-radius: 50%;
                        color: $white;
                        margin-top: -10px;
                        margin-left: 7px;
                        padding: 2px 2px;
                        position: absolute;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;

                    }
                    &:hover{
                        background: #b0acac;
                        color: $white;
                        transform: scale(1.09);
                    }
                }
            }
        }
        
    }
}

.container_top_info{
    align-items: center;
    display: flex;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    div{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        padding: 30px;
    }

}

// Container Top
// Container BestSelers
// Container TheBest
// Container ForYou
.container_top{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    margin: auto;
    width: 80%;

    .exposed{
        
        display: grid;
        grid-template-areas: 
        "product_img product_title product_title"
        "product_img  discount_off discount_off"
        "product_description product_description product_description"
        "btn_actions prices prices"
        ;
        grid-template-columns: repeat(3, 1fr);
        padding: 1%;
        width: 100%;
        .product_img{

            grid-area: product_img;
            padding: 2% 5%;
            width: 100%;
        }
        .product_title{
            
            display: grid;
            align-items: center;
            justify-content: center;
            grid-area: product_title;
            padding: 2% 5%;
        
        }
        .product_description{
            
            display: grid;
            align-items: center;
            justify-content: center;
            grid-area: product_description;
            padding: 2% 5%;
        }
        .discount_off{
            
            display: grid;
            align-items: center;
            justify-content: center;
            grid-area: discount_off;
            padding: 2% 5%;
        
        }
        .prices{
            
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: prices;
            padding: 2% 5%;
            span{
                padding: 0 10px;
            }
        
        }
        .btn_actions{
            
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: btn_actions;
            padding: 2% 5%;
            a{
                
                margin: 0 5%;
                padding: 2% 5%;
            }
        }
    }
}


//Container Banner Small
.img_tenis{
    margin: auto;
    padding: 20px;
    width: 80%
}
.container_banner{
    display: flex;
    gap: 20px;
    margin: auto;
    padding: 10px;
    width: 80%;
}

//footer
.footer_bg{
    
    background: $gray-dark;
    height: auto;
    margin: 0;
    width: 100%;
    .footer_main{
        align-items: center;
        display: flex;
        font-size: 0.8rem;
        // flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 50px 0;
        width: 80%;
        ul{
            display: block;
            margin: 0 auto;
            padding: 5px 10px;
            a{
                padding: 10px 15px;
                color: $white;
                display: block;
                text-align: center;
                &:hover{
                    text-decoration: underline;
                    color: #fff;
                }
            }
            .footer_socials{
                
                display: inline-block;
            }
            .footer_contact{
                padding: 3px 0;
            }
        }
        li{
            display: block;
            &:hover{
                text-decoration: underline;
                color: #fff;
            }
        }
    }
    .footer_down{
        width: 100%;
        margin: 0;
        font-size: 0.8em;
        background-color: $dark;
        padding: 20px 0;
        h1{
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            color: #fff;
        }
        p{
            font-size: 0.8em;
            text-align: center;
            color: #fff;
        }
    }
}

// max-width: 1000px;
@include breakpoint('<master'){

//     /*header*/
//     .header_bg{
//         .header_main{
//             gap: 5px;
//             width: 90%;
//         }
//         .header_footer{
//             font-size: 0.7rem;
//         }
//     }
// // Container BestSelers
// // Container ForYou
// // Container TheBest
// // Container Top    
// .container_top{
//         width: 90%;
//         h1{
//             text-align: left;
//          }
//         .container_top_info{
//             .caroussel{
//                 .img-caroussel{
//                     .product_desciption{
//                         .description{
//                             line-height: 1.3;
//                             text-indent: 20px;
//                         }
//                         p{
//                             color: $gray-dark;
                            
//                             .new_price{
//                                 color: $green-dark;
//                             }
//                         }
//                         .actions{
//                             display: flex;
//                             gap: 20px;
//                             justify-content: center;
//                             margin-top: 20px;
//                             a{
//                                 padding: 5px 10px;
//                                 i{
//                                     font-size: 1.3rem;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }

    //footer
}

//max-width:860px; 
@include breakpoint('<mega'){
    // /*header*/

// Container BestSelers
// Container ForYou
// Container TheBest
// Container Top
    // .container_top{
    //     .container_top_info{
    //         .caroussel{
    //             margin: auto;
    //             width: 100%;
    //         }
    //     }
    // }

    // //footer

}

// max-width:760px;
@include breakpoint('<extra'){
    /*header*/

    /*Container Top*/
    // .container_top{
    //     .container_top_info{
    //         .caroussel{
    //             gap: 20px;
    //             margin: auto;
    //             width: 100%;
    //             .img-caroussel{
    //                 background: $white-light;
    //                 display: flex;
    //                 min-width: 90%;
    //             }
    //         }
    //     }
    // }

    //     //footer
    // .footer_bg{
    //     .footer_main{
    //         align-items: center;
    //         display: flex;
    //         font-size: 0.7rem;
    //         flex-direction: column !important;
    //         justify-content: space-evenly;
    //         margin: 0 auto;
    //         padding: 50px 0;
    //         width: 80%;
    //         ul{
    //             margin: 0 auto;
    //             padding: 5px 10px;
    //             a{
    //                 padding: 10px 15px;
    //                 color: $green-dark;
    //                 display: block;
    //                 text-align: center;
    //                 &:hover{
    //                     text-decoration: underline;
    //                     color: #fff;
    //                 }
    //             }
    //             .footer_socials{
    //                 display: inline-block;
    //             }
    //             .footer_contact{
    //                 padding: 3px 0;
    //             }
    //         }
    //         li{
    //             display: block;
    //             &:hover{
    //                 text-decoration: underline;
    //                 color: #fff;
    //             }
    //         }
    //     }
    //     .footer_down{
    //         width: 100%;
    //         margin: 0;
    //         font-size: 0.8em;
    //         background-color: $dark;
    //         padding: 20px 0;
    //         h1{
    //             font-size: 1em;
    //             font-weight: bold;
    //             text-align: center;
    //             color: #fff;
    //         }
    //         p{
    //             font-size: 0.8em;
    //             text-align: center;
    //             color: #fff;
    //         }
    //     }
    // }
   
}
//max-width: 550px;
@include breakpoint('<medium'){
    /*header*/
//     .header_bg{
//         .header_top{
//             display: block;
//             text-align: center;
//             width: 100%;
//             .socials{
//                 justify-content: center;
//             }
//         }
//         .header_main{
//             display: block;
//             margin: 0 auto;
//             text-align: center;
//             width: 80%;
//             .logo{
//                 width: 100%;
//             }
//             .frm_search{
//                 flex-direction: column;
//                 gap: 10px;
//                 width: 100%;
//                 .input_search{
//                     margin: auto;
//                     width: 90%;
//                 }
//                 .btn_form{
//                     margin: auto;
//                     width: 90%;
//                 }
//             }
//         }
//         .header_footer{
//             width: 100%;
//             ul{
//                 flex-direction: column;
//             }
//         }
//     }
// // Container BestSelers
// // Container ForYou
// // Container TheBest
// // Container Top

//     .container_top{
//         height: auto;
//         margin: auto;
//         width: 100%;
//         .container_top_info{
//             width: 100%;
//             .caroussel{
//                 width: 100%;
//                 .img-caroussel{
//                     width: 100%;
//                 }
//             }
//         }
//     }
//     //footer

}
// max-width:350px;
@include breakpoint('<small'){

}
