@import "LibScss/index";

/*header*/
.header_bg{
    background: $white-light;
    height: auto;
    width: 100%;
    .header_top{
        
        align-items: center;
        display: flex;
        font-size: 1rem;
        justify-content: space-evenly;
        width: 100%;
        .truck{
            
            padding: 5px 0;
        }
        .socials{
            
            display: flex;
            justify-content: end;
            margin: 10px;
            a{
                background: $gray;
                color: $white;
                margin: 0 5px;
                padding: 10px;
                i{
                    padding: 1px 0;
                }
            }
        }
    }
    .header_main{
        
        align-items: center;
        background: $white;
        display: flex;
        font-size: 0.8rem;
        gap: 20px;
        margin: 0 auto;
        width: 80%;
        .logo{
            
            width: 200px
        }
        .frm_search{
            
            display: flex;
            gap: 10px;
            width: 80%;
            .input_search{
                background: $white-light;
                float: right;
                margin: 0;
                padding: 10px 20px;
                width: 90%;
            }
            .btn_form{
                display: block;
                width: 10%;
            }
        }
        .contact_mail{
            
            padding: 0 30px;
            width: auto;
        }

    }
    .header_footer{
        
        background: $white;
        font-size: 0.8rem;
        margin: 0 0 30px 0;
        width: 100%;
        ul{
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0 10%;
            padding: 5px 10px;
            width: 80%;
            a{
                color: $gray;
                padding: 5px 10px;
                &:hover{
                    background: #b0acac;
                    color: $white;
                    transform: scale(1.09);
                }
                li{
                    display: inline-block;
                    span{
                        background: $gray-dark;
                        border-radius: 50%;
                        color: $white;
                        margin-top: -10px;
                        margin-left: 7px;
                        padding: 2px 2px;
                        position: absolute;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;

                    }
                    &:hover{
                        background: #b0acac;
                        color: $white;
                        transform: scale(1.09);
                    }
                }
            }
        }
    }
}

// Container BestSelers
// Container ForYou
// Container TheBest
// Container Top
.container_top{
    height: auto;
    margin: auto;
    width: 80%;
    h1{
        color: $gray-dark;
        margin: 20px 30px;
        text-decoration: underline;
    }

    .container_top_info{
        width: 100%;
        .container_list{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
            li{
                background: $white-light;
                border-radius: 5px;
                padding: 10px;
                margin: 10px auto;
                width: 20%;
                min-width: 150px;
                text-align: center;
                p{
                    color: $gray-dark;
                }
            }
        }
        .caroussel{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            .img-caroussel{
                background: $white-light;
                display: flex;
                margin: auto;
                width: 46%;
                .price_discount{
                    color: $red;
                }
                .product_desciption{
                    .description{
                        line-height: 1.3;
                        text-align: justify;
                        text-indent: 20px;
                    }
                    padding: 10px;
                    p{
                        color: $gray-dark;
                        
                        .new_price{
                            color: $green-dark;
                        }
                    }
                    .actions{
                        display: flex;
                        gap: 20px;
                        justify-content: center;
                        margin-top: 20px;
                        a{
                            padding: 5px 10px;
                            i{
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.img_tenis{
    margin: auto;
    padding: 20px;
    width: 80%
}
//Container Banner Small
.container_banner{

    display: flex;
    gap: 20px;
    margin: auto;
    padding: 10px;
    width: 80%;
}



// max-width: 1000px;
@include breakpoint('<master'){

    /*header*/
    .header_bg{
        .header_main{
            gap: 5px;
            width: 90%;
        }
        .header_footer{
            font-size: 0.7rem;
        }
    }
// Container BestSelers
// Container ForYou
// Container TheBest
// Container Top    
.container_top{
        width: 90%;
        h1{
            text-align: left;
         }
        .container_top_info{
            .caroussel{
                .img-caroussel{
                    .product_desciption{
                        .description{
                            line-height: 1.3;
                            text-indent: 20px;
                        }
                        p{
                            color: $gray-dark;
                            
                            .new_price{
                                color: $green-dark;
                            }
                        }
                        .actions{
                            display: flex;
                            gap: 20px;
                            justify-content: center;
                            margin-top: 20px;
                            a{
                                padding: 5px 10px;
                                i{
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

//max-width:860px; 
@include breakpoint('<mega'){
    // /*header*/

// Container BestSelers
// Container ForYou
// Container TheBest
// Container Top
    .container_top{
        .container_top_info{
            .caroussel{
                margin: auto;
                width: 100%;
            }
        }
    }
}

// max-width:760px;
@include breakpoint('<extra'){
    /*header*/

    /*Container Top*/
    .container_top{
        .container_top_info{
            .caroussel{
                gap: 20px;
                margin: auto;
                width: 100%;
                .img-caroussel{
                    background: $white-light;
                    display: flex;
                    min-width: 90%;
                }
            }
        }
    }
}

//max-width: 550px;
@include breakpoint('<medium'){
    /*header*/
    .header_bg{
        .header_top{
            display: block;
            text-align: center;
            width: 100%;
            .socials{
                justify-content: center;
            }
        }
        .header_main{
            display: block;
            margin: 0 auto;
            text-align: center;
            width: 80%;
            .logo{
                width: 100%;
            }
            .frm_search{
                flex-direction: column;
                gap: 10px;
                width: 100%;
                .input_search{
                    margin: auto;
                    width: 90%;
                }
                .btn_form{
                    margin: auto;
                    width: 90%;
                }
            }
        }
        .header_footer{
            width: 100%;
            ul{
                flex-direction: column;
            }
        }
    }
// Container BestSelers
// Container ForYou
// Container TheBest
// Container Top

    .container_top{
        height: auto;
        margin: auto;
        width: 100%;
        .container_top_info{
            width: 100%;
            .caroussel{
                width: 100%;
                .img-caroussel{
                    width: 100%;
                }
            }
        }
    }
}
// max-width:350px;
@include breakpoint('<small'){

}
