/* Tags Gerais */
label{
	display: block;
	margin: 5px 0;
	font-size: 0.9em;
}

input[type=text],
input[type=password],
input[type=file],
input[type=email],
input[type=search],
input[type=date],
select,
textarea{
	display: block;
	padding: 10px 20px;
	width: 100%;
	background-color: #eee !important;
	font-size: 0.9em;
}

button{
	margin: 10px 0;
	font-size: 0.9em;
}

table, .tableViewer{
	width: 100%;
	padding: 5px 0;
}

table th, .tableViewer th{
	padding: 10px 0;
	background-color: #333333;
	color: #fff;
}

table td, .tableViewer td{
	padding: 10px 10px;
}

table td a, .tableViewer td a{
	padding: 4px 8px !important;
}

.larger{
	width:20%;
}

.lower{
	width:12%;
}

.container_right_title{
	margin: 0 0;
}

.container_right_table_title{
	margin: 0 5px;
}

.box{
	padding: 80px 5px;
}

.boxM{
	padding: 120px 5px;
}

.boxP{
	padding: 12px 5px;
}

.paragraph_navigator{
	margin: 10px 30px;
	padding: 10px 10px;
	font-size: 0.8em;
}

/* Conteúdo central */
/*.container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
	overflow-x: hidden;
}*/

.container .container_main{
	width: 100%;
	/*max-width: 1200px;*/
	height: auto;
	margin: 0;
}

.container_controller{
	width: 80%;
	margin: 30px 10%;
	height: auto;
}

/*Container Top - Seção Mais Vendidos*/
.container_top{
	margin: 30px 0;
	width: 100%;
	height: auto;
}

.container_top .container_top_info{
	margin: 30px 0;
	width: 100%;
	height: auto;
	border: 1px solid #eeeeee;
}

.container_top h1{
	margin: 50px 0 -20px 0;
}

.container_top .container_top_info li{
	display: inline-block;
	float: left;
	padding: 10px 20px;
	width: 22.6%;
	margin: 20px 1.2%;
	background-color: #eeeeee;
}

.container_top .container_top_info .caroussel li{
	display: inline-block;
	float: left;
	padding: 10px 20px;
	width: 47.5%;
	margin: 20px 1.2%;
	background-color: #eeeeee;
}

.container_top .container_top_info .caroussel li .price_discount{
	padding: 5px 5px;
	font-size: 0.7em;
	background-color: #6f7882;
	color: #FFFFFF;
	margin-top: -10px;
	margin-left: -7px;
	position: absolute;
}

.container_top .container_top_info .caroussel li h2{
	padding: 10px 10px;
}

.container_top .container_top_info .caroussel li p{
	padding: 10px 10px;
}

.container_top .container_top_info .caroussel li a{
	padding: 10px 20px;
	margin: 0 5px;
}

.container_top .container_top_info .caroussel li .actions{
	margin: 20px 0;
}

.container_top .container_top_info .caroussel li .price_old{
	margin: 5px 0;
}

.container_top .container_top_info .caroussel li .price_off{
	margin: 5px 10px;
}

@media(max-width: 930px){
	.container_top .container_top_info li{
		width: 47.5%;
	}

	.container_top .container_top_info .caroussel li{
		display: block;
		padding: 10px 20px;
		width: 90%;
		margin: 20px 5%;
		background-color: #eeeeee;
	}

	.container_top .container_top_info .caroussel li .price_old{
		text-align:center !important;
	}

	.container_top .container_top_info .caroussel li .price_off{
		text-align:center !important;
	}

	.container_top .container_top_info .caroussel li h2{
		text-align:center !important;
	}

	.container_top .container_top_info .caroussel li p{
		text-align:center !important;
	}
}

/*Banner*/
.container_banner{
	width: 100%;
	height: auto;
	margin: 0;
}

.container_banner img{
	width: 100%;
	height: auto;
	margin: 0;
}

.container_banner .div_banner{
	float: left;
	width: 49%;
	padding: 10px 0;
	margin: 0 2% 0 0;
}

.container_banner .div_banner:nth-of-type(2n+0){
	margin-right: 0;
}

.container_banner .div_banner .img-small-banner{
	width: 100% !important;
	margin: 0;
}

.divisor1 .img-medium-banner{
	width: 100% !important;
	margin: 0;
}

@media(max-width: 600px){
	.container_banner .div_banner{
		display: block;
		clear: both;
		width: 100%;
		padding: 10px 0;
		margin: 0 0 0 0;
	}

	.none{
		display: none;
	}
}

/*Página de Vendas - Produto*/
.container_details .details_paragraph{
	margin: 10px 0 2px 0;
	color: #333333;
	font-size: 0.8em;
}

.container_details .price_discount{
	padding: 5px 5px;
	font-size: 0.7em;
	background-color: #6F7882;
	color: #fff;
	margin-top: -10px;
	margin-left: -7px;
	position: absolute;
}

.container_details .tags{
	display: inline-block !important;
	margin-top: 10px;
}

.container_details .tp_color_gray{
	background-color: #6F7882;
	padding: 5px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 0.8em;
}

.container_details .tp_color_blue{
	background-color: #0077aa;
	padding: 5px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 0.8em;
}

.container_details .tp_color_red{
	background-color: #d4383a;
	padding: 5px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 0.8em;
}

.container_details .tp_color_white{
	background-color: #eee;
	padding: 5px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 0.8em;
}

.container_details .tp_color_green{
	background-color: #247c40;
	padding: 5px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 0.8em;
}

.container_details .container_action{
	padding: 10px 0;
	margin: 20px 0;
}

.container_details .img-small img{
	border: 1px solid #eeeeee;
	cursor: pointer;
}

.container_action input[type=number]{
	background-color: #eeeeee;
	padding: 5px 10px;
	margin: 10px 5px 10px 0;
	color: #666666;
	font-size: 0.8em;
	width: 70px;
	text-align: center;
}

.container_action button{
	padding: 5px 10px;
	margin: 10px 5px 10px 0;
	font-size: 0.8em;
	text-align: center;
}

.container_description{
	padding: 8px 0;
	background-color: #fff;
	color: #333;
	margin-top: 50px;
	font-size: 0.9em;
}

.container_description .tabs a{
	padding: 8px 16px;
	background-color: #eeeeee;
	color: #333;
}

.container_description .tabs a:hover{
	background-color: #fff;
}

@media(max-width:800px){
	.container_description .tabs a{
		display: block;
	}

	.container_action{
		width: 90%;
		margin: 20px 5%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}

.container_description .tabs .active{
	padding: 8px 16px;
	color: #56a700;
}

.container_description p{
	margin: 10px 0;
}

.container_description .description_paragraph{
	margin: 10px 0;
	padding: 10px 0;
	display: block;
}

.container_description .description_chars{
	margin: 10px 0;
	padding: 10px 0;
	display: none;
}

.container_description .description_commentary{
	margin: 10px 0;
	padding: 10px 10px;
	display: none;
	border: 1px solid #eee;
}

.container_description .comment{
	margin: 10px 0;
	padding: 10px 0;
	display: block;
}

.container_description .comment textarea{
	margin: 10px 0;
	padding: 10px 20px;
	font-size: 0.875em;
	width: 100%;
	height: 240px;
	background-color: #eeeeee;
}

	/* Coluna Esquerda */
.container .container_main .container_left{
	width: 6.5%;
	min-height: 840px;
	margin: 0;
	float: left;
	padding: 10px 0;
}

.container .container_main .container_left ul li{
	padding: 10px 0;
	border-bottom: 5px solid #ff5e10;
	cursor: pointer;
}

.container .container_main .container_left .trace{
	border: 1px solid #fbfbfb;
	width: 30%;
	margin: 0 35%;
	opacity: 0.1;
}

.container .container_main .container_left ul li:hover{
	background-color: #cc4b0c; /*ff7e3f*/
	border-bottom: 5px solid #bd4206;
	/*background-color: #235580;
	border-bottom: 5px solid #09316f;*/
}

.container .container_main .container_left ul li .namespace{
	font-size: 0.8em;
}

/* Coluna Direita */
.container .container_main .container_right{
	width: 93.5%;
	height: auto;
	margin:  0;
	float: right;
}

.container .container_main .container_right .container_right_content{
	width: 96%;
	margin: 10px 2%;
	min-height: 640px;
}

.container .container_main .container_right .container_right_content .container_right_table{
	width: 100%;
	margin: 10px 0;
}

.container .container_main .container_right .container_right_content .container_right_table td a{
	padding: 8px 16px;
}

.container .container_main .container_right .navigator_services,
.container .container_main .container_right .navigator_services_off,
.container .container_main .container_right .navigator_services_sender,
.container .container_main .container_right .navigator_services_sender_off,
.container .container_main .container_right .navigator_services_register,
.container .container_main .container_right .navigator_services_cancelled{
	padding: 20px 16px;
}

.container .container_main .container_right .navigator_services:hover{
	background-color: #2e9b50;
}

.container .container_main .container_right .navigator_services_off:hover{
	background-color: #cccccc;
}


.container .container_main .container_right .navigator_services_sender:hover{
	background-color: #09316f;
}

.container .container_main .container_right .navigator_services_sender_off:hover{
	background-color: #cccccc;
}

.container .container_main .container_right .navigator_services_cancelled:hover{
	background-color: #a70707;
}

.container .container_main .container_right .navigator_services_register:hover{
	background-color: #ff7e3f;
}

.container .container_main .container_right_ajustments{
	width: 100%;
	margin: 0;
	/*display: block;*/
	/*align-items: center;*/
	/*justify-content: center;*/
}

/*Modal Personalização*/
.modal_navigator{
	overflow-y: auto;
	max-height: 480px;
}

.modal_container_nav{
	width: 98%;
	margin: 0 1%;
}

.modal_container_nav .close_modal{
	padding: 4px 8px;
	font-size: 0.9em;
}

.modal_container_nav .close_modal:hover{
	background-color: #15334c;
}

.modal_container_nav p{
	padding: 8px 0;
	margin-top: 8px;
	font-size: 0.9em;
}

.modal_container_nav a{
	padding: 8px 4px;
}

.modal_container_nav a:hover{
	background-color: #09316f;
}

.table_modal{
	width: 98%;
	margin: 10px 1%;
}

.table_modal td{
	width: 20%;
	font-size: 0.9em;
}

.table_modal td a{
	padding: 5px 10px !important;
}

/* Paginação */
.paginator{
	width: 96%;
	margin: 10px 2%
}

.paginator .navigator{
	width: 100%;
	padding: 10px 0;
	/*background-color: #09316f;*/
}

.paginator .navigator li{
	display: inline-block;
	padding: 10px 20px;
	margin: 10px 0;
	background-color: #09316f;
	/*background-color: #fff;*/
	font-size: 0.9em;
	text-align: center;
	cursor: pointer;
}

.paginator .navigator li:hover{
	background-color: #235580;
}

/*Cart*/
.container .container_cart{
	width: 100%;
	height: auto;
	margin: 20px 0;
}

.container_cart .table{
	width: 100%;
	margin: 10px 0;
}

.container_cart .table .td_plus{
	width: 30%;
	font-size: 0.9em;
}

.container_cart .table .td_minus{
	width: 10%;
	font-size: 0.9em;
}

.container_cart .table .td_sub{
	width: 7%;
	font-size: 0.9em;
}

.container_cart .table td img{
	width: 100%;
	font-size: 0.9em;
}

.container_cart .table td input[type=number]{
	width: 80px;
	font-size: 0.9em;
	padding: 10px 20px;
	text-align: center;
}

.container_cart .table td input[type=text]{
	width: 180px;
	font-size: 0.9em;
	padding: 8px 10px;
	text-align: center;
}

.container_cart .table td a{
	padding: 8px 16px;
}

/*Modal Buy*/
.open_modal{
	display: none;
	position: fixed;
	z-index: 201;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgba(148, 148, 148, 0.8);
}

.open_modal .open_container{
	width: 60%;
	max-height: 540px;
	background-color: #fff;
}

.open_container .details_paragraph{
	margin: 10px 0 2px 0;
	color: #333333;
	font-size: 0.8em;
}

.open_container .price_discount{
	padding: 5px 5px;
	font-size: 0.7em;
	background-color: #6F7882;
	color: #fff;
	margin-top: -10px;
	margin-left: -7px;
	position: absolute;
}

.open_container .tags{
	display: inline-block !important;
	margin-top: 10px;
}

.open_container .tp_color_gray{
	background-color: #6F7882;
	padding: 5px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 0.8em;
}

.open_container .tp_color_blue{
	background-color: #0077aa;
	padding: 5px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 0.8em;
}

.open_container .tp_color_red{
	background-color: #d4383a;
	padding: 5px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 0.8em;
}

.open_container .tp_color_white{
	background-color: #eee;
	padding: 5px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 0.8em;
}

.open_container .tp_color_green{
	background-color: #247c40;
	padding: 5px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 0.8em;
}

.open_container .container_action{
	padding: 10px 0;
	margin: 20px 0;
}

.open_container .img-small img{
	border: 1px solid #eeeeee;
	cursor: pointer;
}

.open_container .container_action input[type=number]{
	background-color: #eeeeee;
	padding: 5px 10px;
	margin: 10px 5px 10px 0;
	color: #666666;
	font-size: 0.8em;
	width: 70px;
	text-align: center;
}

.open_container .container_action button{
	padding: 5px 10px;
	margin: 10px 5px 10px 0;
	font-size: 0.8em;
	text-align: center;
}

.open_container .container_description{
	padding: 8px 0;
	background-color: #fff;
	color: #333;
	margin-top: 50px;
	font-size: 0.9em;
}

.open_container .container_description .tabs a{
	padding: 8px 16px;
	background-color: #eeeeee;
	color: #333;
}

.open_container .container_description .tabs a:hover{
	background-color: #fff;
}

/*Autenticação/Login*/
.container_main .main_login{
	width: 100%;
	margin: 20px 0;
	border: 1px solid #eeeeee;
}

.main_login h1{
	margin-top: 20px;
}

.main_login label{
	display: block;
	width: 90%;
	margin: 0 5%;
	padding: 8px 0;
}

.main_login input[type=text],
.main_login input[type=email],
.main_login input[type=password]{
	display: block;
	width: 90%;
	margin: 0 5%;
	padding: 8px 16px;
	background-color: #eeeeee;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.main_login button{
	display: block;
	margin-left: 8%;
	margin-top: 10px;
	padding: 8px 16px;
	font-size: 0.9em;
}

.main_login #btn_register{
	display: block;
	margin-left: 5%;
	margin-top: 10px;
	padding: 8px 16px;
	font-size: 0.9em;
}

.main_login .btn_recovery{
	margin-right: 24px;
	margin-bottom: 10px;
	padding: 8px 20px;
}

.main_login #btn_password{
	display: block;
	margin-left: 10%;
	margin-top: 10px;
	padding: 8px 16px;
	font-size: 0.9em;
}

.main_login #btn_recovery{
	display: block;
	margin-left: 10%;
	margin-top: 10px;
	padding: 8px 16px;
	font-size: 0.9em;
}

.main_login .btn_recovery:hover{
	color: #fff;
	background-color: #666666;
}

.viewer{
	position: relative;
}

.showHide{
	z-index: 999;
	position: absolute;
	top: 61%;
	right:50px;
	cursor: pointer;
}

.fa-eye{
	color: #999
}

.result{
	font-family: 'Nunito', Sans-serif;
}

/*Checklist*/
.container_controller .new{
	padding: 18px 0;
}

.container_controller .title_checklist{
	text-transform: uppercase;
	color: #666666;
}

/*Cards*/
.card4{
	margin: 10px 1.2% 10px 0;
	width: 24% !important;
	padding: 20px 10px;
}

.card4:nth-of-type(4n+0){
	margin-right: 0 !important;
}

.card4 p{
	padding: 2px 0;
}

.card4 .actions{
	margin-top: 10px;
}

.card4 a{
	padding: 6px 12px !important;
}

/*Modal Address*/
.address_modal{
	display: none;
	position: fixed;
	z-index: 201;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgba(148, 148, 148, 0.8);
}

.address_modal .open_container{
	width: 60%;
	max-height: 540px;
	background-color: #fff;
	padding: 10px 8px 10px 20px;
}

.address_modal .modal_container_close{
	margin-top: -8px;
	margin-right: -15px;
}

.address_modal h2{
	margin: 0 8px;
}

.address_modal label{
	display: block;
	margin: 8px 0;
}

.address_modal input[type=text]{
	display: block;
	padding: 8px 16px;
	background-color: #eeeeee;
	margin-top: 15px !important;
}

.address_modal button{
	display: block;
	padding: 10px 30px;
	margin-top: 24px !important;
}

/*Modal Payment*/
.payments .img_pay{
	width: 40% !important;
	margin: 0 30%;
}


.paymentDiv{
	display: none;
	position: fixed;
	z-index: 201;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgba(148, 148, 148, 0.8);
}

.paymentDiv .open_container{
	width: 60%;
	max-height: 540px;
	background-color: #fff;
	padding: 10px 8px 10px 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

.buyModal .modal_container_close,
.paymentDiv .modal_container_close{
	margin-top: -8px;
	right: 19%;
	position: fixed;
	z-index: 200;
}

/*.paymentDiv .modal_payment{
	padding: 10px 30px !important;
	font-size: 1.2em;
	overflow-x: hidden;
	overflow-y: auto;
}*/

.paymentDiv .imgLogo{
	width: 80px !important;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	display: none;
}

.paymentDiv .imgResult{
	width: 20% !important;
	margin: 0 10px;
}

.paymentDiv label{
	display: block;
	margin: 8px 0;
}

.paymentDiv input[type=text],
.paymentDiv input[type=email]{
	display: block;
	padding: 8px 16px;
	background-color: #eeeeee;
	width: 100%;
}

.paymentDiv select{
	display: block;
	padding: 8px 16px;
	background-color: #eeeeee;
	width: 100%;
}

.paymentDiv button{
	display: block;
	padding: 10px 30px !important;
	margin-top: 15px !important;
}

/*Thanks*/
.information{
	width: 50%;
	margin: 50px 25%;
	padding: 30px 20px;
}

.information p{
	margin-top: 10px;
}

.information .btnThanks{
	margin-top: 40px !important;
}

/* Media Queries */
@media(max-width: 1300px){
	.modal .modal_container .modal_container_nav a{
		font-size: 0.8em;
		margin-bottom: 14px;
	}

	.modal_container_nav a{
		padding: 3px 6px;
	}

	.modal_container_nav .close_modal{
		padding: 3px 6px;
		font-size: 0.8em;
	}

	.open_container .tp_color_gray{
		display: inline-block;
		padding: 4px 6px;
		margin-top: 5px;
	}

	.open_container .tp_color_blue{
		display: inline-block;
		padding: 4px 6px;
		margin-top: 5px;
	}

	.open_container .tp_color_red{
		display: inline-block;
		padding: 4px 6px;
		margin-top: 5px;
	}

	.open_container .tp_color_white{
		display: inline-block;
		padding: 4px 6px;
		margin-top: 5px;
	}

	.open_container .tp_color_green{
		display: inline-block;
		padding: 4px 6px;
		margin-top: 5px;
	}
}

@media(max-width: 1200px){
	.container .container_main .container_left{
		width: 9%;
	}

	.container .container_main .container_right{
		width: 91%;
	}

	table{
		width: 800px;
	}

	.container .container_main .container_right .container_right_content .container_right_table td a{
		padding: 5px 10px;
	}

	table th,
	table td{
		font-size: 0.9em;
	}

	.container_cart{
		overflow-x: scroll;
	}

	.container_cart .table td a{
		padding: 5px 10px;
	}

	.showHide{
		right: 30px;
	}

	.card4{
		width: 48% !important;
	}

}

@media(max-width: 920px){
	.container .container_main .container_left{
		width: 10%;
	}

	.container .container_main .container_right{
		width: 90%;
	}

	table th,
	table td{
		font-size: 0.9em;
	}

	.paginator .navigator li{
		padding: 8px 16px;
	}

	.boxP a{
		padding: 6px 12px;
	}
}

@media(max-width: 840px){
	.container .container_main .container_right .container_right_content .container_right_table{
		overflow-x: scroll;
	}

	.container_cart .table{
		width: 840px;
	}

	.container_cart .table .td_sub{
		width: 12%;
		font-size: 0.8em;
	}

	.open_modal .open_container{
		width: 94%;
		margin: 10px 3%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.open_modal .open_container .close{
		margin-top: 12px;
		right: 4%;
	}

	.open_container .modal_container_close{
		margin-top: -15px;
		right: 20%;
		position: fixed;
		z-index: 200;
	}

	.buyModal .modal_container_close,
	.paymentDiv .modal_container_close{
		margin-top: -15px;
		right: 1%;
		position: fixed;
		z-index: 200;
	}

}

@media(max-width: 800px){
	.container .container_main .container_left{
		width: 13%;
	}

	.container .container_main .container_right{
		width: 87%;
	}

	.open_container .container_description .tabs a{
		display: block;
	}

	.open_container .container_action{
		width: 90%;
		margin: 20px 5%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.table span,
	.table .title_table{
		font-size: 1em !important;
	}

	.table .shipping_option{
		font-size: 1em !important;
	}

	.card4{
		width: 100% !important;
		margin: 10px 0 !important;
	}

	.address_modal .open_container{
		width: 94%;
		margin: 10px 3%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.address_modal button{
		width: 100%;
		padding: 10px 20px !important;
	}

	.address_modal h2{
		margin: 0 15px;
	}

	.paymentDiv button{
		width: 100%;
	}

	.paymentDiv .imgResult{
		width: 30% !important;
		margin: 0 auto;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	.paymentDiv h2{
		text-align: center !important;
	}

	.address_modal .modal_container_close{
		margin-top: -15px;
		right: 4% !important;
	}
}

@media(max-width: 768px){
	.main_login button{
		width: 94%;
		margin: 10px 3%;
	}

	.main_login #btn_register{
		width: 90% !important;
		margin: 10px 5%;
	}

	.main_login #btn_recovery{
		width: 94% !important;
		margin: 10px 3%;
	}

	.main_login #btn_password{
		width: 94% !important;
		margin: 10px 3%;
	}

	.showHide{
		right: 40px;
	}

	.address_modal .modal_container_close{
		margin-top: -15px;
		right:4% !important;
	}
}

@media(max-width: 720px){
	.container_cart .table td{
		width: 80px;
		font-size: 0.8em;
	}

	.container_cart .table td p,
	.container_cart .table td h2{
		display: block;
	}

	.container_cart .table td input[type=number]{
		width: 60px;
		font-size: 0.9em;
		padding: 6px 6px;
		text-align: center;
	}

	.container_cart .table .td_sub{
		width: 10%;
		font-size: 0.8em;
	}

	.table a{
		padding: 6px 9px !important;
		margin-top: 5px;
		font-size: 1.4em !important;
	}

}

@media(max-width: 640px){
	.showHide{
		right: 29px;
	}
}

@media(max-width: 600px){
	.none{
		display: none;
	}

	.container .container_main .container_left{
		width: 18%;
	}

	.container .container_main .container_right{
		width: 82%;
	}

	button{
		margin: 10px 0;
		width: 100%;
	}

	.container_cart .table td input[type=text]{
		width: 100%;
	}
}