
@media(max-width:1380px){
    .header_main input[type=search]{
    width: 87%;
}
}
@media(max-width:1180px){
    .header_main input[type=search]{
    width: 85%;
}
}
@media(max-width:1000px){
    .header_main input[type=search]{
    width: 82%;
    }
    .header_bg .header_top{
        width: 90%;
        margin: 0 5%;
    }
}
@media(max-width:930px){

.header_bg .header_main{
    display: block !important;
    font-size: 0.7rem;
    margin: 0 5%;
    width: 90%;
}

.header_main input[type=search]{
    width: 80% !important;
    }
.header_bg .header_footer{
    display: block !important;
    font-size: 0.7rem;
    margin: 0 5% 30px 5%;
    width: 90%;
}
.header_bg .header_top{
    font-size: 0.7rem;
    
}
}
@media(max-width:760px){

.header_bg .header_main{
    font-size: 0.8rem;
}
.header_main .divisor3{
    display: block;
}

.header_main input[type=search]{
    width: 93% !important;
    }
.header_bg .header_footer{
    display: block !important;
    font-size: 0.7rem;
    margin: 0 5% 30px 5%;
    width: 90%;
}
.header_bg .header_top{
    font-size: 0.8rem;

}
.header_footer ul{
    width: 90%;
    margin: 0 5%;
    padding: 5px 10px;
    display: block;

}
.header_footer a{
    display: block;
    text-align: center;
}
}
@media(max-width:660px){
    .header_main input[type=search]{
    width: 90% !important;
    margin-bottom: 5px;
    }
    .header_main button{
    width: 100% !important;
    margin-bottom: 5px;
    }

}